@font-face {
  font-family: "SoDoSans-Light";
  src: url(./assets/fonts/SoDoSans-Light.ttf);
}

@font-face {
  font-family: "SoDoSans-Regular";
  src: url(./assets/fonts/SoDoSans-Regular.ttf);
}

@font-face {
  font-family: "SoDoSans-SemiBold";
  src: url(./assets/fonts/SoDoSans-SemiBold.ttf);
}

@media (max-width: 990px) and (max-height: 1092px) {
  .col-lg-3 {
    display: none !important;
  }
}

* {
  font-family: "SoDoSans-Regular";
}

.button-h5 {
  padding: 0;
}

.navbar-brand img {
  width: 50px;
  height: auto;
}

button:focus {
  box-shadow: none !important;
}

.navbar {
  box-shadow: 0 1px 3px rgb(0, 0, 0, 0.1), 0 2px 2px rgb(0, 0, 0, 0.06),
    0 0px 2px rgb(0, 0, 0, 0.07);
}
.p-2 {
  padding: 2rem !important;
}

.ff-SoDoSans-SemiBold {
  font-family: "SoDoSans-SemiBold";
}

.fs-90 {
  font-size: 0.9rem;
}

.fs-2-5 {
  color: #1e3932;
  font-size: 2.5rem !important;
}

.fs-2-5-home2 {
  color: #ffffff;
  font-size: 2.5rem !important;
}

.fs-2-5-home3 {
  color: #006241;
  font-size: 1.3rem !important;
}

.fs-2-5-home4 {
  color: #ffffff;
  font-size: 1.3rem !important;
}

.color-span1 {
  color: #1e3932;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.color-span2 {
  color: #ffffff;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.color-span3 {
  color: #006241;
  font-size: 1.3rem;
  padding-top: 1rem;
}

.color-span4 {
  color: #ffffff;
  font-size: 1.3rem;
  padding-top: 1rem;
}

.fs-off-canvas {
  font-size: 1.5rem !important;
}

.nav-link-sb {
  text-decoration: none;
}

.nav-link-sb ion-icon {
  font-size: 1.3rem;
  color: #1f2021;
  margin-right: 5px;
}

.nav-link-sb span {
  color: #1f2021;
}

.nav-link-sb:hover span {
  color: #00754a;
}

.nav-link-sb:hover ion-icon {
  color: #00754a;
}

.btn-white {
  border: 1px solid #000;
  border-radius: 2rem;
  padding: 3px 18px;
  font-size: 0.9rem;
  background: #ffffff;
}

.btn-white:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.btn-black {
  border: 1px solid #000;
  border-radius: 2rem;
  padding: 3px 18px;
  font-size: 0.9rem;
  background: #000000;
  color: #ffffff;
}

.btn-black:hover {
  background-color: rgb(0, 0, 0, 0.7);
}

.btn-red {
  border: 1px solid #00754a;
  border-radius: 2rem;
  padding: 3px 18px;
  font-size: 0.9rem;
  background: none;
  color: #1e3932;
}

.btn-red:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.btn-other {
  border: 1px solid #ffffff;
  border-radius: 2rem;
  padding: 3px 18px;
  font-size: 0.9rem;
  background: none;
  color: #ffffff;
}

.btn-other:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.btn-vino {
  border: 1px solid #ffffff;
  border-radius: 2rem;
  padding: 3px 18px;
  font-size: 0.9rem;
  background: none;
  color: #ffffff;
}

.btn-vino:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.btn-last {
  border: 1px solid #006241;
  border-radius: 2rem;
  padding: 3px 18px;
  font-size: 0.9rem;
  background: none;
  color: #006241;
}

.btn-last:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.text-green-hover:hover {
  color: #00754a !important; /* Evita usar !important si no es estrictamente necesario */
}

.card-sb {
  padding: 3rem;
}

.messages {
  padding-top: 4rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.list-decoration {
  text-decoration: none;
}

.text-list-hover:hover {
  color: #1f2021 !important;
}

.text-list-footer:hover {
  text-decoration: underline;
}

.color-footer {
  color: #1f2021 !important;
}

.p-last {
  color: #9e9393;
  padding: 1rem;
}

.menu-title {
  padding: 1rem 0rem 2rem 0rem;
}

.img-producto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.sub-var {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 390px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgb(0, 0, 0, 0.1), 0 2px 2px rgb(0, 0, 0, 0.06),
    0 0px 2px rgb(0, 0, 0, 0.07);
}

.sub-var-menu {
  text-decoration: underline;
  text-underline-offset: 10px; /* Ajusta la distancia de la línea de subrayado */
}


@media (max-width: 1863px) and (max-height: 1092px) {
  .menu-subnavar {
    display: none !important;
  }
}